
h2 {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    color: darkslategray;
}
h1 {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    color: red;
}
table {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    color: royalblue;
}
